@{
    ViewData["Title"] = "Home";
}

<style>
    body, html {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        height: 100%;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 24px;
        padding: 40px 20px 100px;
        max-width: 1200px;
        margin: 0 auto;
        min-height: 80vh;
        align-content: start;
    }

    .grid-button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 15px;
        font-weight: bold;
        border: 2px solid #007bff;
        border-radius: 16px;
        background-color: #f8f9fa;
        color: #007bff;
        text-decoration: none;
        padding: 30px;
        transition: all 0.3s ease;
        min-height: 150px;
    }

        .grid-button:hover {
            background-color: #007bff;
            color: white;
        }

        .grid-button i {
            font-size: 40px;
            margin-bottom: 10px;
        }
</style>

<div class="grid-container">
    <a href="/Task1" class="grid-button">
        <i class="fas fa-briefcase"></i> OA
    </a>
    <a href="/Task2" class="grid-button">
        <i class="fas fa-database"></i>
        ERP
    </a>
    <a href="https://developer.microsoft.com/en-us/windows/downloads/virtual-machines/" class="grid-button">
        <i class="fas fa-server"></i> VM
    </a>
    <a asp-controller="Manager" asp-action="Index2" class="grid-button">
        <i class="fas fa-user-friends"></i> Emloyees Manager
    </a>
    <a href="https://10.18.1.7/accounts/login/?next=/iclock/imanager" class="grid-button">
        <i class="fas fa-fingerprint"></i> E-ZKEco
    </a>
    <a href="https://10.18.1.4/owa/auth/logon.aspx?replaceCurrent=1&url=https%3a%2f%2f10.18.1.4%2fecp" class="grid-button">
        <i class="fas fa-chart-line"></i>
        OutLook Administrator
    </a>
    <a asp-controller="Board" asp-action="Chart" class="grid-button">
        <i class="fas fa-chart-bar"></i> CHART
    </a>

    <a asp-controller="Invoice" asp-action="InvoiceHome" class="grid-button">
        <i class="fas fa-file-invoice-dollar"></i> INVOICE
    </a>

</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />